@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --black: #171717;
    --black100: #777777;
    --greenish: #ddfe65;
}

html{
    font-size: 16px;
}

.monospace{
    font-family: 'Space Mono', monospace;
}

.righteous{
    font-family: 'Righteous', cursive;
}

.montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}

.opacity5{
    opacity: .5;
}

.opacity7{
    opacity: .7;
}



body{
    background-color: black;
    color: white;
    padding: 10px;
    /* border: white solid 1px; */
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.squareFloating{
    background-color: var(--black);
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10%;
    top: 16%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 20px 30px 20px rgba(0,0,0,.5);
    /* opacity: .2;
    filter: blur(10px); */
    transition: all .6s ease;
}

.squareFloating:hover{
    filter: blur(10px);
    box-shadow: 0px 10px 15px 10px rgba(0,0,0,.5);
}

.global_cointainer{
    background-color: var(--black);
    border-radius: 16px;
    width: 100%;
    background-image: url(../assets/noise.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* filter: brightness(110%); */
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    padding: 16px 30px;
}

.hero_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    /* border: yellowgreen solid 1px; */
    /* flex-wrap: wrap; */
    padding: 16px 40px;
}


.title{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 14rem;
    line-height: 81%;
    /* border: solid red 1px; */
    /* padding: 90px 0px 90px 60px; */
    width: 60%;
    padding-top: 90px;
    padding-left: 60px;
    padding-bottom: 30px;
}


.offsetText{
    color: var(--black100);
    position: relative;
    left: 28%;
}

.smallGesture{
    width: 40px;
    margin-right: 4px;
    opacity: .1;
}

.disclaimerContainer{
    margin-top: 90px;
    position: absolute;
    right: 15%;
    width: 400px;
    /* border: solid red 1px; */
}

.starsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.disclaimer{
    font-size: 22px;
    color: var(--black100);
    /* border: solid red 1px; */
    padding-top: 20px;
    color: var(--greenish);
}

#matrix_hero{
    position: absolute;
    width: 900px;
    right: 14%;
    top: 10%;
    opacity: .02;
}

#matrix_hero2{
    position: absolute;
    width: 300px;
    right: 14%;
    top: 10%;
    opacity: .8;
}

#smallCube{
    width: 40px;
    margin-right: 8px;
}
.tagsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 12px;
    /* border: solid yellow 1px; */
    padding-left: 40px;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.tagCtrl{
    border: solid 2px var(--black100);
    color: var(--black100);
    padding: 4px 16px;
    font-size: 1rem;
    border-radius: 20px;
    margin: 4px 4px;
}

#lineGesture{
    margin: 0px 4px;
    filter: invert(43%) sepia(1%) saturate(3251%) hue-rotate(27deg) brightness(106%) contrast(72%);
}

.rowPhrase{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 60px;
    /* border: greenyellow solid 1px; */
}

.timesGesture{
    width: 60px;
    opacity: .2;
    filter: grayscale(100%);
    transform: scale(100%);
    transition: all .4s ease;
}

.timesGesture:hover{
    filter: grayscale(100%);
    transform: scale(200%);
}

.blockRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red 1px; */
    padding: 40px 40px;
    gap: 90px;
    padding-top: 80px;
}

.questionCtrl{
    font-size: 2.81rem;
    opacity: .3;
    width: 900px;
    /* border: solid yellow 1px; */
}

.itemListCtrl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    gap: 16px;
    /* border: solid orange 1px; */
}

.listItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    gap: 8px;
    transition: all .9s ease;
}

.listItem:hover{
    color: var(--greenish);
}