@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --black: #171717;
    --black100: #aeaeae;
    --purply: #8665fc;
    --pinky: #c065fc;
}

html{
    font-size: 16px;
}

.monospace{
    font-family: 'Space Mono', monospace;
}

.righteous{
    font-family: 'Righteous', cursive;
}

.montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}

.opacity5{
    opacity: .5;
}

.opacity7{
    opacity: .7;
}



body{
    background-color: black;
    color: white;
    padding: 10px;
    /* border: white solid 1px; */
    /* overflow-x: scroll;
    overflow-y: hidden; 
    cursor: pointer;*/
}

.squareFloating{
    background-color: var(--black);
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10%;
    top: 16%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 20px 30px 20px rgba(0,0,0,.2);
    /* opacity: .2;
    filter: blur(10px); */
    z-index: 2;
}

#square001{
    left: 20%;
    top: 36%;
}

#square002{
    left: 60%;
    top: 66%;
}

#square003{
    left: 90%;
    top: 16%;
}

#square004{
    left: 90%;
    top: 116%;
}

#square005{
    left: 9%;
    top: 125%;
}

#square006{
    left: 29%;
    top: 155%;
}

/* .squareFloating:hover{
    /* filter: blur(10px); 
    background-color: var(--purply);
    box-shadow: 0px 10px 15px 10px rgba(0,0,0,.5);
} */

.global_cointainer{
    background-color: var(--black);
    border-radius: 16px;
    width: 100%;
    background-image: url(../assets/noise.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* filter: brightness(110%); */
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    padding: 16px 30px;
}

.hero_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    /* border: yellowgreen solid 1px; */
    /* flex-wrap: wrap; */
    padding: 16px 40px;
}


.title{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 14rem;
    line-height: 81%;
    /* border: solid red 1px; */
    /* padding: 90px 0px 90px 60px; */
    width: 60%;
    padding-top: 90px;
    padding-left: 60px;
    padding-bottom: 30px;
}


.offsetText{
    color: var(--black100);
    position: relative;
    left: 28%;
}

.smallGesture{
    width: 40px;
    margin-right: 4px;
    opacity: .1;
}

.disclaimerContainer{
    margin-top: 90px;
    position: absolute;
    right: 15%;
    width: 400px;
    /* border: solid red 1px; */
}

.starsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.disclaimer{
    font-size: 22px;
    /* border: solid red 1px; */
    padding-top: 20px;
    /* color: var(--purply); */
    background-image: linear-gradient(to right bottom, var(--purply),var(--pinky));
    background-clip: text;
    -webkit-background-clip: text;
color: transparent;
}

#matrix_hero{
    position: absolute;
    width: 900px;
    right: 14%;
    top: 10%;
    opacity: .02;
}

#matrix_hero2{
    position: absolute;
    width: 300px;
    right: 14%;
    top: 10%;
    opacity: .8;
}

#smallCube{
    width: 40px;
    margin-right: 8px;
}
.tagsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 12px;
    /* border: solid yellow 1px; */
    padding-left: 40px;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.tagCtrl{
    border: solid 2px var(--black100);
    color: var(--black100);
    padding: 4px 16px;
    font-size: 1rem;
    border-radius: 20px;
    margin: 4px 4px;
}

#lineGesture{
    margin: 0px 4px;
    filter: invert(43%) sepia(1%) saturate(3251%) hue-rotate(27deg) brightness(106%) contrast(72%);
}

.rowPhrase{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    padding: 20px 40px;
    /* border: greenyellow solid 1px; */
    margin-top: 60px;
    gap: 26px;
}

.timesGesture{
    width: 60px;
    opacity: .7;
    filter: grayscale(100%);
    transform: scale(100%);
    transition: all .4s ease;
}

.timesGesture:hover{
    filter: grayscale(100%);
    transform: scale(200%);
}

.blockRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red 1px; */
    padding: 180px 40px;
    gap: 90px;
}

.questionCtrl{
    font-size: 2.81rem;
    opacity: .7;
    width: 900px;
    /* border: solid yellow 1px; */
}

.itemListCtrl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    gap: 16px;
    /* color: var(--purply); */
    /* border: solid orange 1px; */
    background-image: linear-gradient(to right bottom, var(--purply),var(--pinky));
    background-clip: text;
    -webkit-background-clip: text;
color: transparent;
}

.listItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    gap: 8px;
    transition: all .8s ease;
}

.material-symbols-outlined{
    transition: all .4s ease;
}

.listItem:hover{
    color: white;
}

.listItem:hover > .material-symbols-outlined{
    transform: scale(130%);
}

.bigBlockCtrl{
    padding: 6px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#titleContent{
    font-size: 8rem;
    line-height: 7rem;
}

#descriptionContent{
    max-width: 800px;
    padding-left: 60px;
    opacity: .6;
}

.contentCtrl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 40px;
}

.iconCtrl{
    background-color: rgb(62, 62, 62);
    width: 400px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    margin-top: 20px;

}

.gifContentCtrl{
    width: 100px;
}

.descCtrl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 16px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.titleSect{
    font-size: 1.2rem;
}
.tagTimeCtrl{
    background-color: var(--purply) ;
    background-image: linear-gradient(to right bottom, var(--purply),var(--pinky));
    
    color: white;
    border-radius: 16px;
    padding: 1px 8px 1px 10px;
    font-weight: bold;
}

.subjectsCtrl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
   padding: 16px 16px; 
}

.subjectsCtrl span{
    transition: all ease .5s;
}

.subjectsCtrl span:hover{
    transform: scale(120%);
    color: var(--purply);
}

.divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.vLineCtrl{
    width: 1px;
    height: 190px;
    border-radius: 90px;
    background-color: var(--black100);
    opacity: .1;
}

.paddingTop{
    padding-top: 90px;
}

.paddingBottom{
    padding-bottom: 90px;
}

.avatarCtrl{
    width: 200px;
    height: auto;
    /* border-radius: 100%; */
}

.aboutSectCtrl{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 90px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding-top: 60px;
}

#intro{
    font-size: 30px;
    max-width: 400px;
}

#detail{
    max-width: 600px;
    opacity: .5;
}
  .iconMedia{
    color: white;
    fill: var(--purply);
    width: 20px;
  }

  .flexCollumn{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cardMediaLink{
    color: var(--black100);
    background-color: black;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 12px;
    max-width: 160px;
    border-radius: 4px;
    height: 20px;
    transition: all ease .4s;
    box-shadow: 0px 6px 10px rgba(0,0,0,.5);
  }

  .cardMediaLink div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .cardMediaLink:hover{
    transform: scale(120%);
    box-shadow: 0px 12px 15px rgba(0,0,0,.2);
  }

  #intro2{
    font-size: 30px;
    max-width: 700px;
}

.gridContainerCtrl{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gridRowCtrl{
    padding: 16px 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    /* border: solid red 1px; */
    gap:40px;
}

.containerCtrl{
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    font-size: 1.3rem;
    gap: 12px;
    max-width: 500px;
    color: var(--purply);
}

.containerCtrl .descTypeCtrl{
    color:white;
    font-family: 'Space Mono', monospace;
    font-size: .9rem;
    opacity: .6;
}

.containerCtrl .material-symbols-outlined{
    color: white!important;
}